<script src="https://kit.fontawesome.com/cb9227926b.js" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{ url_for('index') }}">STUNNER VISION</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Sign Up</a></li>
                {% if not is_anonymous %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Log In</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in categories %}
                        <li><a class="dropdown-item" href="{{ url_for('view_all', category_id=category.id) }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
          
            {% if is_anonymous %}
            <a href='{{ url_for("cart") }}'>
            {% else %}
            <a href='{{ url_for("login") }}'>
            {% endif %}
                    <button class="btn cart-btn">
                            <i class="fas fa-shopping-cart"></i>
                            Cart
                            <span class="badge text-light ms-1 rounded-pill" style='background:#920000;'>{{ total_items }}</span>
                        </button></a>
            
        </div>
    </div>
</nav>